.tree-posts h3{margin-left:1rem;}
#sideSlide {position:fixed;}
.sideSlide {transition: all .25s ease; left: -50px;}
#sClose {display: none;}
.search-wrapper {position: fixed;}
.search-wrapper {position: fixed;}
body.search-overlay:after {position: fixed;}
@media only screen and (max-width: 90.625rem){
    .sidePop {left: 10px;}
}
.post-content p code, .post-content li code, .highlighter-rouge {
    color: #ffffff;
    background: #3c0880;
    border-radius: 10px;
    padding: 0.2em;
}